@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.dela-gothic-one-regular {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*BACKGROUND SETTING*/

body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    45deg,
    #56beccff,
    #6a81d4
  ); 
  position: relative;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  ),
  linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer *** */ 
  z-index: -1px;
}


/*CIRCLES*/


.log1{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;

    position: absolute;
    top: 30px;
    left: 810px;
}

.circ2{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid black;

    position: absolute;
    top: 23px;
    left: 802px;
}

.conne1{
    position: absolute;
    top: 175px;
    left: 886px;

    width: 3px;
    height: 535px;
    background-color: black;
}


/*RECTANGLE1 SETTING*/


.rec1{
  width: 500px;
  height: 350px;
  border: solid black;
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid black;

  position: absolute;
  top: 265px;
  left: 360px;
}

.img_ajct{
  width: 4666.6px;
  height: 350px;
}

.card {
  width: 500px;
  height: 350px;
  perspective: 1000px;

  position: absolute;
  top: 265px;
  left: 910px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border: solid black;
  border-radius: 0px;
  justify-content: center;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #6a81d4;
  color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #6a81d4;
  justify-content: center;
  font-family: "Dela Gothic One", "Arial";
  text-align: center;
  font-size: 35px;
  font-style: italic;
  transform: rotateY(180deg);
}

.title1{
  font-size: 45px;
  color: #4D3E5C;
  text-align: center;
  font-family: "Dela Gothic One", "Arial";
  position: absolute;
  top: 15px;
}

.int1{
  font-size: 22px;
  color: #4D3E5C;
  text-align: center;
  font-weight: 00;
  font-family: "Work Sans", "Arial";
  position: absolute;
  bottom: 60px;
}


/*BUTTON SETTING*/

button {
  position: absolute;
  top: 710px;
  left: 730px;


  padding: 10px 40px;
  background: #2E7585;
  font-size: 22px;
  font-weight: 500;
  font-family: "Dela Gothic One", "Arial";
  color: white;
  border: 3px solid #2E75858c;
  border-radius: 25px;
  box-shadow: 0 0 0 #2E75858c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #2E7585;
  box-shadow: 0 0 25px #2E75858c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

/*TRANSITION TO NEXT CONNEC*/


.conne3{
    position: absolute;
    top: 768px;
    left: 886px;


    width: 3px;
    height: 400px;
    background-color: black;
}

